body{
  margin:0;
  font-family:Arial;
  background:#0f172a;
  color:white;
  padding:15px;
}

.title{
  text-align:center;
  margin-bottom:20px;
}

/* TABLE */
table{
  width:100%;
  border-collapse:collapse;
  background:#1e293b;
  border-radius:10px;
  overflow:hidden;
}

th,td{
  padding:12px;
  text-align:center;
}

th{
  background:#334155;
  color:#38bdf8;
}

tr{
  border-bottom:1px solid #475569;
}

/* STATUS */
.status{
  padding:5px 10px;
  border-radius:8px;
  font-size:12px;
  text-transform:capitalize;
}

.status.pending{
  background:orange;
}

.status.assigned{
  background:#22c55e;
}

.status.waiting{
  background:#3b82f6;
}

.status.rejected{
  background:red;
}

/* BUTTONS */
button{
  border:none;
  padding:6px 10px;
  margin:2px;
  border-radius:6px;
  color:white;
  cursor:pointer;
  font-size:12px;
}

.view{
  background:#3b82f6;
}

.accept{
  background:#22c55e;
}

.waiting{
  background:#f59e0b;
}

.delete{
  background:#ef4444;
}

/* MOBILE */
@media(max-width:600px){
  table{
    font-size:12px;
  }

  button{
    padding:5px;
    font-size:10px;
  }
}

.timetable{
background:#2563eb;
color:white;
border:none;
padding:6px 10px;
border-radius:6px;
margin:2px;
}
